/app/node_modules
/app/public/build
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/.env
/app/.env.backup
/app/.phpunit.result.cache
/app/.php-cs-fixer.cache
/app/Homestead.json
/app/Homestead.yaml
/app/auth.json
/app/npm-debug.log
/app/yarn-error.log
/.idea
/.vscode
/app/storage/debugbar
/.php-cs-fixer.cache
/app/var/*
.phpcs-cache
/.gitlab-ci-local/
/.composer-cache/
